.bgRed{
    background-color: red;
    color: #fff;
}
.bgGreen{
    background-color: green;
    color: #fff;
}
.bgYellow{
    background-color: yellow;
    color: #333;
}
.bgBlue{
    background-color: blue;
    color: #fff;
}
